
// Define variables for your color scheme
$primarydark: rgb(34,26,27);
$primarypurple: rgb(49,9,46);
$primarymauve: rgb(76,16,34);
$primarybrown: rgb(126,64,41);
$primarygold: rgb(225,184,125);
$primarywhite: rgb(245,245,245);
// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
