<div class="navigationbar hidden-md hidden-lg">
      <ul class="list-inline menulist">
        <li class="togglemenu">MENU</li>
      </ul>
    </div>
    <div class="navigationbar hidden-xs hidden-sm">
      <ul class="list-inline menulist">
        <li>WELCOME</li>
        <li>THE CREW</li>
        <li>SERVICES</li>
        <li>TESTIMONIALS</li>
        <li>CONTACT</li>
      </ul>
    </div>
